@import 'main';

#main-navigation {
  // background-color: $black;
  transition: background-color 0.2s ease;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9999;
  .container {
    
    max-width: $desktopLG;
    display: flex;
    
    justify-content: space-between;
    align-items: center;
  }
}
.main-logo {
  color: $white;
  img {
    width: 378px;
    height: auto;
  }
}
nav {
  padding: 20px;
  text-align: center;
  ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 0;
    margin: 0;
    li {
      overflow: hidden;
      position: relative;
      a {
        color: $white;
        font-size: 16px;
        line-height: 21px;
        font-weight: 700;
        text-decoration: none;
        &:hover {
          .nav-link-text {
            transform: translateY(-100%);
          }
          .nav-link-text-reveal {
            transform: translateY(-100%);
            color: $babyBlue;
          }
        }
      }
    }
    .nav-link-text-reveal {
      position: absolute;
      z-index: 999;
      top: 100%;
      left: 0;
      color: $white;
    }
    .nav-link-text, .nav-link-text-reveal {
      transition: all .15s linear .15s;
    }
  }
  .linkedin {
    transition: all .2s ease;
    img {
      transition: all .2s ease;
      transform: rotate(0);
    }
    &:hover {
      opacity: .8;
      img {
        transform: rotate(360deg);
      }
    }
  }
  .linkedin-icon {
    max-width: 40px;
  }
}

.active-main-nav {
  background-color: red !important;
}

.dark {
  background-color: $black;
}

.light {
  background-color: $white;
}