@use '@/styles/variables.scss' as *;

body {
  font-family: 'Roboto', sans-serif;
}

.wrapper:not(.home) {
  margin-top: 80px;
  @media (max-width: $breakpoint-sm) {
    margin-top: 70px;
  }
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.row {
  display: flex;
}

/* utility classes */

.text-center {
  text-align: center;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-xs {
  margin-bottom: $m-xs;
}

.mb-lg {
  margin-bottom: $m-lg !important;
  @media (max-width: $breakpoint-sm) {
    margin-bottom: $m-md;
  }
}

.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.with-line {
  position: relative;
  margin-bottom: 20px;

  &:after {
    content: '';
    width: 120px;
    height: 4px;
    background-color: $purple;
    display: block;
    left: 0;
    right: 0;
    margin: 30px auto 0 auto;
  }
}

.desktop-only {
  display: block;
  @media (max-width: $breakpoint-sm) {
    display: none;
  }
}

.mobile-only {
  display: none;
  @media (max-width: $breakpoint-sm) {
    display: block;
  }
}
