@import '_variables';
@import '_typography';
@import '_reset';

body {
  margin: 0;
  padding: 0;
  // background-color: $black;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  display: flex;
}

section.hero {
  padding-top: 100px;
}