@import 'main';

.about-hero {
  background-color: $black; 
  padding: 50px;
  text-align: center;
  background-image: url(../../assets/bg-about-2x.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 600px;
}