@import 'main';

.home-hero {
  background-color: $black; 
  padding: 50px 0;
  height: 100vh;
  width: 100vw;
  // display: flex;
  // align-items: center;
  position: relative;
  overflow: hidden;
  // .txt-hero {
  //   max-width: 714px;
  //   display: block;
  //   margin: 0 auto;
  // }
}


.home-hero .txt-hero {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

#inspire, #engage, #react {
  font-family: "DM Serif Display", serif;
  font-size: 180.23px;
}

#inspire {
  transform: translateY(140px)translateX(140px);
}

#react {
  transform: translateY(240px)translateX(-117px);
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
}

#mask-bg {
  mask:url("#mask");
}

.other-video {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
}

.bg-gradient {
  padding: 150px 0;
  // background-image: url(../assets/bg-pink-blue-gradient.png);
  // background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  p {
    color: $white;
    max-width: 1060px;
    margin: 0 auto;
    &:not(.callout) {
      font-size: 26px;
      line-height: 44px;
    }
  }
}