@import 'main';

#main-navigation {
  background-color: $black;
  .container {
    max-width: 1284px;
    margin: 0 auto;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
}
.main-logo {
  color: $white;
  img {
    width: 378px;
    height: auto;
  }
}
nav {
  padding: 20px;
  text-align: center;
  ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 0;
    margin: 0;
    li {
      overflow: hidden;
      position: relative;
      a {
        color: $white;
        font-size: 16px;
        line-height: 21px;
        font-weight: 700;
        text-decoration: none;
        &:hover {
          .nav-link-text {
            transform: translateY(-100%);
          }
          .nav-link-text-reveal {
            transform: translateY(-100%);
            opacity: .75;
          }
        }
      }
    }
    .nav-link-text-reveal {
      position: absolute;
      z-index: 999;
      top: 100%;
      left: 0;
      color: $white;
    }
    .nav-link-text, .nav-link-text-reveal {
      transition: all .2s linear .2s;
    }
  }
  .linkedin {
    transition: all .2s ease;
    &:hover {
      opacity: .8;
    }
  }
  .linkedin-icon {
    max-width: 40px;
  }
}
